@mixin reset-list {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

@mixin hover {
    @media (hover), (min-width: 0\0) {
        &:hover {
            @content;
        }
    }
}
