/*
** Grid
*/

$unit: 4px;

/*
** Breakpoints
*/

$breakpoints: (
    mobile: 576px,
    tablet: 1112px,
    laptop: 1440px,
    desktop: 1920px,
    desktop-l: 7680px,
);

/*
** Fonts
*/

$base-font: 'Montserrat', sans-serif;

/*
** Colors
*/

$white: #fff;
$black: #0c1622;
$primary: #00dc82;
$secondary: #eef2f6;
$success: #00dc82;
$error: #f84f4f;

/*
** Shadow
*/

$box-shadow: 0 0 32px rgba(130, 168, 202, .4);
$box-shadow-black: 0 0 32px rgba($black, .16);
$box-shadow-primary: 0 0 24px rgba($primary, .4);

/*
** Ui
*/

$border-radius: 4px;
