.UiIcon {
    display: inline-block;
    fill: currentColor;

    &._small {
        width: 16px;
        height: 16px;
    }

    &._medium {
        width: 24px;
        height: 24px;
    }

    &._large {
        width: 32px;
        height: 32px;
    }

    &__el {
        display: block;
        width: 100%;
        height: 100%;
    }
}
